* {
  box-sizing: border-box;
  --background-color: #222f38;
  --color: white;
}

@media screen and (prefers-color-sheme: dark) {
  * {
    --background-color: #222f38;
    --color: white;
  }
}

html,
body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--color);
}

html,
body,
figure {
  margin: 0;
  padding: 0;
}

header,
main {
  padding: 0 16px;
}